@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

.disclaimer {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #383636;
}

btn {
  display: inline-block;
  padding: 0.5em;
  background: #ccc;
  color: #666;
}
btn--error {
  background-color: #912011;
  color: #666;
}
btn--success {
  background-color: #df6f43;
  color: #fff;
}
btn--warning {
  background-color: #c23435;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #b9340c;
  font-size: 16px;
  font-weight: bold;
}

ul {
  list-style: none;
}

p {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 0;
}

ul {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 0;
  padding-left: 20px;
  margin-bottom: 40px;
}

a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #b9340c;
}
a:hover {
  text-decoration: none;
  color: #80503c;
}

h5, h4, h3 {
  font-size: 16px;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
}

h4 {
  font-weight: bolder;
}

h5 {
  font-size: 14px;
  font-weight: bolder;
}

h6 {
  font-size: 14px;
}

.btn-primary {
  background-color: #b9340c;
}

btn:hover {
  color: #bd5126;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  h2, .leading--title {
    font-size: 24px;
  }
}
btn {
  display: inline-block;
  padding: 0.5em;
  background: #ccc;
  color: #666;
}
btn--error {
  background-color: #912011;
  color: #666;
}
btn--success {
  background-color: #df6f43;
  color: #fff;
}
btn--warning {
  background-color: #c23435;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #b9340c;
  font-size: 16px;
  font-weight: bold;
}

ul {
  list-style: none;
}

p {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 0;
}

ul {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 0;
  padding-left: 20px;
  margin-bottom: 40px;
}

a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #b9340c;
}
a:hover {
  text-decoration: none;
  color: #80503c;
}

h5, h4, h3 {
  font-size: 16px;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
}

h4 {
  font-weight: bolder;
}

h5 {
  font-size: 14px;
  font-weight: bolder;
}

h6 {
  font-size: 14px;
}

.btn-primary {
  background-color: #b9340c;
}

btn:hover {
  color: #bd5126;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  h2, .leading--title {
    font-size: 24px;
  }
}
.hero {
  position: relative;
  height: 250px;
  background: url("../assets/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero .title-hero {
  font-size: 56px;
  text-transform: uppercase;
  color: #f8f1e9;
}
.hero .p-hero {
  font-size: 48px;
  color: #f8f1e9;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero .p-hero {
    overflow-wrap: break-word;
    font-size: 40px;
  }
  .hero .title-hero {
    overflow-wrap: break-word;
    font-size: 48px;
  }
}

footer {
  padding: 56px;
  margin-top: 100px;
  background: #212529;
  color: #ffffff;
}

.social-nesher {
  font-size: 24px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  footer {
    padding: 16px;
  }
}
btn {
  display: inline-block;
  padding: 0.5em;
  background: #ccc;
  color: #666;
}
btn--error {
  background-color: #912011;
  color: #666;
}
btn--success {
  background-color: #df6f43;
  color: #fff;
}
btn--warning {
  background-color: #c23435;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #b9340c;
  font-size: 16px;
  font-weight: bold;
}

ul {
  list-style: none;
}

p {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 0;
}

ul {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 0;
  padding-left: 20px;
  margin-bottom: 40px;
}

a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #b9340c;
}
a:hover {
  text-decoration: none;
  color: #80503c;
}

h5, h4, h3 {
  font-size: 16px;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
}

h4 {
  font-weight: bolder;
}

h5 {
  font-size: 14px;
  font-weight: bolder;
}

h6 {
  font-size: 14px;
}

.btn-primary {
  background-color: #b9340c;
}

btn:hover {
  color: #bd5126;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  h2, .leading--title {
    font-size: 24px;
  }
}
.gallery {
  margin-top: 56px;
}

.container-fluid {
  max-width: 1200px;
}

.card {
  background: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  border: 0;
  border-radius: 8px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.label-top {
  position: absolute;
  background-color: #e77f39;
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

span {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .card-img-top {
    max-height: 250px;
  }
}
@media (max-width: 1025px) {
  .btn {
    padding: 5px 40px 5px 40px;
  }
}
@media (max-width: 250px) {
  .btn {
    padding: 5px 30px 5px 30px;
  }
}
.btn {
  background: #b9340c;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 16px;
}
.btn:hover {
  background: none #ff962b;
  color: #ffffff;
  box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35);
}

.box {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.box-img {
  max-width: 300px;
}

@media (max-width: 576px) {
  .box-img {
    max-width: 200px;
  }
}
@media (max-width: 370px) {
  .box .btn {
    padding: 5px 40px 5px 40px;
    font-size: 12px;
  }
}
.viewmore {
  font-size: 16px;
  font-weight: bolder;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .gallery {
    margin-top: 24px;
  }
}
.bullet {
  background-color: #f5f5fa;
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
}
.bullet:hover {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 13px 30px -3px rgba(50, 50, 93, 0.25);
  transform: scale(1.1);
}

.jumbotron {
  background-color: #FAFAFA;
  margin: 56px;
  padding: 56px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .jumbotron {
    padding: 16px;
    margin: 24px;
  }

  .btn {
    margin-bottom: 24px;
  }
}
.deezer {
  margin-top: 56px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .maps, .deezer, iframe {
    width: 100%;
    height: 450px;
    margin-bottom: 32px;
  }

  .btn {
    width: 100%;
    margin-bottom: 32px;
  }
}
btn {
  display: inline-block;
  padding: 0.5em;
  background: #ccc;
  color: #666;
}
btn--error {
  background-color: #912011;
  color: #666;
}
btn--success {
  background-color: #df6f43;
  color: #fff;
}
btn--warning {
  background-color: #c23435;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #b9340c;
  font-size: 16px;
  font-weight: bold;
}

ul {
  list-style: none;
}

p {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 0;
}

ul {
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 0;
  padding-left: 20px;
  margin-bottom: 40px;
}

a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #b9340c;
}
a:hover {
  text-decoration: none;
  color: #80503c;
}

h5, h4, h3 {
  font-size: 16px;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
}

h4 {
  font-weight: bolder;
}

h5 {
  font-size: 14px;
  font-weight: bolder;
}

h6 {
  font-size: 14px;
}

.btn-primary {
  background-color: #b9340c;
}

btn:hover {
  color: #bd5126;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  h2, .leading--title {
    font-size: 24px;
  }
}
.mini-hero {
  height: 90px;
  background: url("../assets/hero.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.mini-hero .p-hero {
  font-size: 48px;
  color: #f8f1e9;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .mini-hero .p-hero {
    overflow-wrap: break-word;
    font-size: 40px;
  }
  .mini-hero .title-hero {
    overflow-wrap: break-word;
    font-size: 48px;
  }
}

/*# sourceMappingURL=style.css.map */
