@import '../base/maps';
@import '../base/variables';

.gallery {
	margin-top: $margin-d;
}

.container-fluid {
	max-width: 1200px;
  }
  
  .card {
	background: rgb(255, 255, 255);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	border: 0;
	border-radius: 8px; 
  
	&:hover {
	  transform: scale(1.05);
	  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
	}

}
  
  .label-top {
	position: absolute;
	background-color: #e77f39;
	color: #fff;
	top: 8px;
	right: 8px;
	padding: 5px 10px 5px 10px;
	font-size: .7rem;
	font-weight: 600;
	border-radius: 3px;
	text-transform: uppercase;
  }
  
  
	span {
	  display: inline-block;
	  vertical-align: middle;
	}
  
  @media (max-width: 768px) {
	.card-img-top {
	  max-height: 250px;
	}
  }
  
  
  @media (max-width: 1025px) {
	.btn {
	  padding: 5px 40px 5px 40px;
	}
  }
  
  @media (max-width: 250px) {
	.btn {
	  padding: 5px 30px 5px 30px;
	}
  }
  
  .btn {
	background: $links;
	color: #ffffff;
	fill: #ffffff;
	border: none;
	text-decoration: none;
	outline: 0;
	box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 16px;
  
	&:hover {
	  background: none #ff962b;
	  color: #ffffff;
	  box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35);
	}
  }
  
  
  .box {
	border-radius: 12px;
	background: #fff;
	box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }
  
  .box-img {
	max-width: 300px;
  }
  
  @media (max-width: 576px) {
	.box-img {
	  max-width: 200px;
	}
  }
  
  @media (max-width: 370px) {
	.box .btn {
	  padding: 5px 40px 5px 40px;
	  font-size: 12px;
	}
  }

  .viewmore {
	  font-size: 16px;
	  font-weight: bolder;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px)  {
 	.gallery {
		margin-top: $margin-r;
	}
  }