@import './variables';


$buttons: (
  error: (#912011, #666),
  success: (#df6f43, #fff),
  warning: (#c23435, #fff)
);
 
btn {
  display: inline-block;
  padding: .5em;
  background: #ccc;
  color: #666;
   
  @each $name, $colors in $buttons {
    $bgcolor: nth($colors, 1);
    $fontcolor: nth($colors, 2);
     
    &--#{$name} {
      background-color: $bgcolor;
      color: $fontcolor;
    }  
  }
}

.navbar-light .navbar-nav .nav-link {
	color: $links;
	font-size: 16px;
  font-weight: bold;
  }
  
  ul {
	list-style: none;
  }
  
  p {
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 30px;
	letter-spacing: 0;
  }
  
  ul {
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 30px;
	letter-spacing: 0;
	padding-left: 20px;
	margin-bottom: 40px;
  }
  
  a {
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	color: $links;
  
	&:hover {
	  text-decoration: none;
	  color: #80503c;
	}
  }


  h5, h4, h3 {
	font-size: 16px;
  }
  
  h2 {
	font-size: 32px;
  font-weight: bolder;
  }

  h4 {
	  font-weight: bolder;
  }

  h5 {
    font-size: 14px;
	  font-weight: bolder;
  }

  h6 {
    font-size: 14px;
  }
  
  .btn-primary {
	background-color: $links;
  }
  
  btn:hover {
	color: #bd5126;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px)  {

    h2, .leading--title {
      font-size: 24px;
    }

  }
